.container {
	max-width: 120rem;
	margin: 8rem auto; //centering the container in body
	background-color: var(--color-grey-light-1);
	box-shadow: var(--shadow-dark);

	min-height: 50rem;
}
.header {
	height: 7rem;
	background-color: #fff;
	border-bottom: 1px solid var(--color-grey-light-2);
	font-size: 1.4remla;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content {
    display: flex;
}
.sidebar {
	background-color: var(--color-grey-dark-1);
	flex: 0 0 18%; //Defining width
	//Make the legal text down of the sidebar and the nav on the top
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hotel-view {
    background-color: tomato;
	flex: 1;//this el should grow as much as it can
	height: 80rem;//JUST FOR TEST 
}
